---
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import PostWrapper from "@components/general/PostWrapper.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) =>
		new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
        <h1 style="line-height: 1.2;">Blog</h1>
        <content>
            <PostWrapper sectionTitle="LATEST BLOGS" />
        </content>
    </Layout>
  </body>
</html>