---
import MetaHead from "../components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import "../styles/style.css";

export interface Props {
	content: {
		title: string;
		description: string;
		date?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, date},
} = Astro.props as Props;
---

<html>
	<head>
		<MetaHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
  				border-top: 1px solid #DDD;
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Layout>
			<article>
				<h1 class="title">{title}</h1>
				<p class="dark:text-light">Ian O'Gorman</p>
				{date && <p class="dark:text-light">{new Date(date).toLocaleDateString('en-us', {
					year: 'numeric',
					month: 'short',
					day: 'numeric',
				})}</p>}
				<pre class="mt-4">
					<slot />
				</pre>
			</article>
		</Layout>
	</body>
</html>