---
import MetaHead from "../components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import "../styles/style.css";

export interface Props {
	content: {
		title: string;
		description: string;
		date?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, date},
} = Astro.props as Props;
---

<html>
	<head>
		<MetaHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
  				border-top: 1px solid #DDD;
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Layout>
			<article>
				<h1 class="title">{title}</h1>
				<div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
					<div class="inline-flex items-center my-4 dark:text-light">
						<img class="mr-4 w-16 h-16 rounded-full" src="/assets/images/ianSticker256.webp" alt="Ian O'Gorman">
						<div>
							<a href="/index" rel="author" class="text-xl font-bold">Ian O'Gorman</a>
							<p class="">Software Engineer</p>
							<p class="">{new Date(date).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'short',
								day: 'numeric',
							})}</p>
						</div>
					</div>	
				</div>
				<pre class="mt-4">
					<slot />
				</pre>
			</article>
		</Layout>
	</body>
</html>